#This is a modified version of blastdb_p.loc for defining the location of the LAST databases.
#Using three columns tab separated
#(longer whitespace are TAB characters):
#
#<unique_id>	<database_caption>	<db_type>	<base_name_path>	<taxid_map>	<taxid_key>	<ko_map>	<desc_map>	<taxonomy>
#
# unique_id: a string with no spaces that uniquely names the database
# database_caption: The captions typically contain spaces and might end with the build date or database version.
# db_type: "nucl" or "prot"
# base_name_path: location of the last database (without file extension)
# taxid_map: two column tab separated file mapping sequences to taxon IDs
# taxid_key: either 'acc' if taxid map is keyed on accession, or 'hitid' if full sequence id
# ko_map: map from hits (accessions or hit ids) to KEGG orthology IDs
# desc_map: map from hit ids to descriptions (from original fasta)
# taxonomy: directory containing names.dmp and nodes.dmp that define the taxonomy (used with taxid_map)
#
#
# These databases and associated files may be built using the databases/download_silva.make Makefile in the py-metagenomics package.
#
## Examples
RefSeq_69_plus	RefSeq 69 with additions	prot	/galaxy-tool-data/lastdb/RefSeq/69/RefSeq-69.AllProteinsPlus.faa.ldb/lastdb	/galaxy-tool-data/lastdb/RefSeq/69/RefSeq-69.AllProteinsPlus.faa.ldb/lastdb.tax	acc	/galaxy-tool-data/lastdb/RefSeq/69/RefSeq-69.AllProteinsPlus.faa.ldb/lastdb.kos	/galaxy-tool-data/lastdb/RefSeq/69/RefSeq-69.AllProteinsPlus.faa.ldb/lastdb.ids	/galaxy-tool-data/lastdb/RefSeq/69/RefSeq-69.AllProteinsPlus.faa.ldb
Kegg201411	KEGG from November 2014	prot	/galaxy-tool-data/lastdb/KEGG/KeggGene.pep.20141104/lastdb	None	None	/galaxy-tool-data/lastdb/KEGG/KeggGene.pep.20141104/lastdb.kos	/galaxy-tool-data/lastdb/KEGG/KeggGene.pep.20141104/lastdb.ids	None
Silva119_SSU	Silva 119 NR99 ref SSU	nucl	/galaxy-tool-data/lastdb/Silva/119/Silva_119_SSURef_NR99/lastdb	/galaxy-tool-data/lastdb/Silva/119/Silva_119_SSURef_NR99/lastdb.tax	hitid	None	/galaxy-tool-data/lastdb/Silva/119/Silva_119_SSURef_NR99/lastdb.ids	/galaxy-tool-data/lastdb/Silva/119/Silva_119_SSURef_NR99
