#This is a modified version of blastdb.loc for defining the location of the LAST databases.
#Using three columns tab separated
#(longer whitespace are TAB characters):
#
#<unique_id>	<database_caption>	<base_name_path>
#
#The captions typically contain spaces and might end with the build date.
#It is important that the actual database name does not have a space in it,
#and that the first tab that appears in the line is right before the path.
#
# These databases may be built using the databases/download_silva.make Makefile in the py-metagenomics package.
#
## Example
#Silva115_ref	Silva 115 ref SSU LSU	/path-to-sequencedbs/silva/115/Silva115_SSU_LSU_Ref.ldb
