 <tables>
    <!-- Locations of nucleotide last(al) databases -->
    <table name="pipe_lastdb_n" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/lastdb_n.loc" />
    </table>
     <!-- Locations of protein last(al) databases -->
    <table name="pipe_lastdb_p" comment_char="#">
        <columns>value, name, path, taxmapfile, kofile, descfile, taxdump</columns>
        <file path="tool-data/lastdb_p.loc" />
    </table>
    <!-- Location of Silva taxon mapping files -->
    <table name="pipe_silva_mapping_tables" comment_char="#">
        <columns>value, name, path, taxdump</columns>
        <file path="tool-data/silva_mapping_tables.loc" />
    </table>
    <!-- Information about the chemistries available to MiSeq -->
    <table name="illuminaChemistries" comment_char="#">
        <columns>value, name, primerTemplate</columns>
        <file path="tool-data/illuminaChemistries.loc" />
    </table>
</tables>
