
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend {
  font: 12px sans-serif;
  font-weight: bold;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.data {
    text-align: center;
}


